@import 'sections/_header';
@import 'vars';
@import 'normalize';
@import 'fonts';
@import 'best_practices';


/*=============================================
               GLOBALL SETTINGS
=============================================*/

.cf::after {
    content: '';
    display: table;
    clear: both;
}


