@import "foundation/settings";
@import "foundation/functions";
@import 'vars';
@import 'normalize';
@import 'fonts';
@import 'best_practices';


/*=============================================
               GLOBALL SETTINGS
=============================================*/

html {
    font-size: 16px;
}

.cf::after {
    content: '';
    display: table;
    clear: both;
}

@import 'sections/_header';

@import 'sections/_footer';
