/*=============================================
               GLOBALL SETTINGS
=============================================*/

html {
    font-size: 16px;
}

.cf::after {
    content: '';
    display: table;
    clear: both;
}

/*=============================================
                  INDEX.HTML
=============================================*/
